################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Services/OrdersService/obj
/Services/OrdersService/bin/Debug/netcoreapp2.1
/.vs
/UI/ConsoleClient/bin/Debug/netcoreapp2.1
/UI/ConsoleClient/obj
/Services/OrdersService.Message/obj/Debug/netstandard2.0
/Services/OrdersService.Message/obj
/Services/OrdersService.Message/bin/Debug/netstandard2.0
/Common/Constants/bin/Debug/netstandard2.0
/Common/Constants/obj
/Services/InventoryService/bin/Debug/netcoreapp2.1
/Services/InventoryService/obj
/Services/InventoryService.Messages/bin/Debug/netstandard2.0
/Services/InventoryService.Messages/obj
/Services/OrdersService.Messages/bin/Debug/netstandard2.0
/Services/OrdersService.Messages/obj
