################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Services/OrdersService/obj
/Services/OrdersService/bin/Debug/netcoreapp2.1
/.vs
/UI/ConsoleClient/bin/Debug/netcoreapp2.1
/UI/ConsoleClient/obj
